version: '3.8'

services:
  bot:
    build: .
    container_name: telegram_bot
    restart: unless-stopped
    volumes:
      - ./data:/app/data
      - .env
    environment:
      - PYTHONUNBUFFERED=1