services:
  bot:
    build: .
    container_name: telegram_bot
    restart: unless-stopped

    env_file:
      - .env

    volumes:
      - ./data:/app/data

    environment:
      - PYTHONUNBUFFERED=1
