name: Deploy to DigitalOcean

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to DigitalOcean
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          strict_host_key_checking: false
          script: |
            cd ~/BotTg
            
            git fetch origin
            git reset --hard origin/main
            git clean -fd
            
            docker compose down
            
            docker compose build --no-cache
            docker compose up -d
            
            docker system prune -af
         
